
.logout-form:hover {
    cursor: pointer;
}

.dropdown-divider {
    border-top-color: #d2d2d2 !important;
}

/* -----------------------------------------
    DataTable
----------------------------------------- */

.dataTables_filter {
    display: none;
}
